 {% extends 'base.html' %}
{% comment %} headers {% endcomment %}
{% block styles %}{% endblock %}

{% comment %} body {% endcomment %}
{% comment %} navbar {% endcomment %}
{% block donacion %} active {% endblock %}

{% comment %} contenido de pag {% endcomment %}
{% block content %}
    <div class="jumbotron">
        <h2>Datos de contacto</h2>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4">
                <h3>Nombre y Apellido</h3>
                <ul class="list-group card">
                    <li class="list-group-item color-card">
                        Cespedes Daniel
                    </li>
                    <li class="list-group-item color-card">
                        Fretes José
                    </li>
                    <li class="list-group-item color-card">
                        Gutiérrez Franco
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Github</h3>
                <ul class="list-group card">
                    <li class="list-group-item color-card">
                        <a href="https://github.com/dann4832022" target="_blank" class="text-white me-4"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="list-group-item color-card">
                        <a href="https://github.com/josefretes2" target="_blank" class="text-white me-4"><i class=" fab fa-github"></i></a>
                    </li>
                    <li class="list-group-item color-card">
                        <a href="https://github.com/FrancoG27" target="_blank" class="text-white me-4"><i class=" fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Linkedin</h3>
                <ul class="list-group card">
                    <li class="list-group-item color-card">
                        <a href="https://www.linkedin.com/in/daniel-cespedes-407102245/" target="_blank" class="text-white me-4"><i class="fab fa-linkedin"></i></a>
                    </li>
                    <li class="list-group-item color-card">
                        <a href="" target="_blank" class="text-white me-4"><i class=" fab fa-linkedin"></i></a>
                    </li>
                    <li class="list-group-item color-card">
                        <a href="https://www.linkedin.com/in/franco-gutierrez-b76b18178/" target="_blank" class="text-white me-4"><i class=" fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}